In [1]:
import os
os.getcwd()

'C:\\Users\\JASWANTH\\Desktop\\Remote internship 2020\\python codes'

In [2]:
os.chdir("C:\\Users\\JASWANTH\\Desktop\\Remote internship 2020\\datasets")

In [3]:
os.getcwd()

'C:\\Users\\JASWANTH\\Desktop\\Remote internship 2020\\datasets'

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [5]:
data1=pd.read_csv('kidney_disease.csv')
data1

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [7]:
data1.shape

(400, 26)

In [8]:
#Since Id is Not Required it is Dropped from the data
data1=data1.drop(['id'],axis=1)
data1.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd

# Check for null values

In [10]:
data1.isnull().any()

age                True
bp                 True
sg                 True
al                 True
su                 True
rbc                True
pc                 True
pcc                True
ba                 True
bgr                True
bu                 True
sc                 True
sod                True
pot                True
hemo               True
pcv                True
wc                 True
rc                 True
htn                True
dm                 True
cad                True
appet              True
pe                 True
ane                True
classification    False
dtype: bool

In [12]:
data1.apply(lambda x:sum(x.isnull()),axis=0)

age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

# Filling the null values in the data

In [14]:
#The Categorical Values in the Dataset are converted into Numerical Values For Better Representation of the Data

data1['rbc'].fillna('normal',inplace = True)
data1['rbc'].replace(['normal','abnormal'],[0,1],inplace = True)

data1['pc'].fillna('normal',inplace = True)
data1['pc'].replace(['normal','abnormal'],[0,1],inplace = True)

data1['pcc'].fillna('notpresent',inplace = True)
data1['pcc'].replace(['notpresent','present'],[0,1],inplace = True)

data1['ba'].fillna('notpresent',inplace = True)
data1['ba'].replace(['notpresent','present'],[0,1],inplace = True)

data1['htn'].fillna('no',inplace = True)
data1['htn'].replace(['no','yes'],[0,1],inplace = True)

data1['dm'].fillna('no',inplace = True)
#Replacing '\tno','\tyes',' yes' with 'no','yes','yes'
data1['dm'].replace(['\tno','\tyes',' yes'],['no','yes','yes'],inplace = True)
data1['dm'].replace(['no','yes'],[0,1],inplace = True)

data1['appet'].fillna('good',inplace = True)
data1['appet'].replace(['good','poor'],[0,1],inplace = True)

data1['pe'].fillna('no',inplace = True)
data1['pe'].replace(['no','yes'],[0,1],inplace = True)

data1['ane'].fillna('no',inplace = True)
data1['ane'].replace(['no','yes'],[0,1],inplace = True)

In [15]:
data1.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,0,0,121.0,...,44,7800,5.2,1,1,no,0,0,0,ckd
1,7.0,50.0,1.020,4.0,0.0,0,0,0,0,NaN,...,38,6000,NaN,0,0,no,0,0,0,ckd
2,62.0,80.0,1.010,2.0,3.0,0,0,0,0,423.0,...,31,7500,NaN,0,1,no,1,0,1,ckd
3,48.0,70.0,1.005,4.0,0.0,0,1,1,0,117.0,...,32,6700,3.9,1,0,no,1,1,1,ckd
4,51.0,80.0,1.010,2.0,0.0,0,0,0,0,106.0,...,35,7300,4.6,0,0,no,0,0,0,ckd

In [16]:
data1['rbc'].value_counts()
data1['pc'].value_counts()
data1['pcc'].value_counts()
data1['ba'].value_counts()
data1['htn'].value_counts()
data1['dm'].value_counts()
data1['appet'].value_counts()
data1['pe'].value_counts()
data1['ane'].value_counts()

0    340
1     60
Name: ane, dtype: int64

In [17]:
data1['pcv'].replace(['\t?','\t43'],[52,43],inplace = True)
data1['pcv'].fillna(52,inplace = True)

In [19]:
data1['pcv'].value_counts()

52    71
41    21
52    21
48    19
44    19
40    16
43    14
42    13
45    13
28    12
32    12
36    12
50    12
33    12
34    11
37    11
46     9
35     9
30     9
29     9
31     8
39     7
24     7
26     6
38     5
54     4
47     4
53     4
51     4
49     4
22     3
25     3
27     3
19     2
23     2
16     1
20     1
21     1
15     1
17     1
43     1
14     1
9      1
18     1
Name: pcv, dtype: int64

In [20]:
data1['wc'].replace(['\t8400','\t6200','\t?'],[8400,6200,9800],inplace = True)
data1['wc'].fillna(9800,inplace = True)

In [21]:
data1['wc'].value_counts()

9800     106
9800      11
6700      10
7200       9
9200       9
        ...
12100      1
11300      1
19100      1
5900       1
12000      1
Name: wc, Length: 92, dtype: int64

In [22]:
data1['rc'].replace(['\t?'],[5.2],inplace = True)
data1['rc'].fillna(5.2,inplace = True)

In [23]:
data1['rc'].value_counts()

5.2    131
5.2     18
4.5     16
4.9     14
4.7     11
4.8     10
3.9     10
3.4      9
4.6      9
5.0      8
5.9      8
3.7      8
6.1      8
5.5      8
3.8      7
5.8      7
5.3      7
5.4      7
5.6      6
4.2      6
4.3      6
6.5      5
6.4      5
3.2      5
4.1      5
5.1      5
6.2      5
5.7      5
4.4      5
3.6      4
6.3      4
6.0      4
3.3      3
4.0      3
3.5      3
4        3
3.0      2
2.8      2
2.1      2
3.1      2
2.5      2
2.9      2
2.6      2
2.7      2
5        2
2.3      1
3        1
8.0      1
2.4      1
Name: rc, dtype: int64

In [24]:
data1.isnull().any()

age                True
bp                 True
sg                 True
al                 True
su                 True
rbc               False
pc                False
pcc               False
ba                False
bgr                True
bu                 True
sc                 True
sod                True
pot                True
hemo               True
pcv               False
wc                False
rc                False
htn               False
dm                False
cad                True
appet             False
pe                False
ane               False
classification    False
dtype: bool

In [25]:
data1.apply(lambda x:sum(x.isnull()),axis=0)

age                9
bp                12
sg                47
al                46
su                49
rbc                0
pc                 0
pcc                0
ba                 0
bgr               44
bu                19
sc                17
sod               87
pot               88
hemo              52
pcv                0
wc                 0
rc                 0
htn                0
dm                 0
cad                2
appet              0
pe                 0
ane                0
classification     0
dtype: int64

In [26]:
data1['cad'].replace(['\tno'],['no'],inplace = True)
data1['cad'].value_counts()

no     364
yes     34
Name: cad, dtype: int64

In [27]:
data1['cad'].fillna('no',inplace = True)
data1['cad'].replace(['no','yes'],[0,1],inplace = True)
data1['cad'].value_counts()

0    366
1     34
Name: cad, dtype: int64

In [28]:
data1['classification'].replace(['ckd\t'],['ckd'],inplace=True)

data1['classification'].value_counts()

ckd       250
notckd    150
Name: classification, dtype: int64

In [29]:
data1['classification'].fillna('ckd',inplace = True)
data1['classification'].replace(['ckd','notckd'],[0,1],inplace = True)
data1['classification'].value_counts()

0    250
1    150
Name: classification, dtype: int64

In [31]:
data1['rc']=data1['rc'].astype('float')

data1['pcv'] =data1['pcv'].astype('float')

data1['wc'] =data1['wc'].astype('float')

In [33]:
data1['rbc'].fillna('normal',inplace=True)
data1['pc'].fillna('normal',inplace=True)
data1['pcc'].fillna('notpresent',inplace=True)
data1['ba'].fillna('notpresent',inplace=True)
data1['htn'].fillna('no',inplace=True)
data1['dm'].fillna('no',inplace=True)
data1['cad'].fillna('no',inplace=True)
data1['appet'].fillna('good',inplace=True)
data1['pe'].fillna('no',inplace=True)
data1['ane'].fillna('no',inplace=True)

In [35]:
data1.dtypes

age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                 int64
pc                  int64
pcc                 int64
ba                  int64
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv               float64
wc                float64
rc                float64
htn                 int64
dm                  int64
cad                 int64
appet               int64
pe                  int64
ane                 int64
classification      int64
dtype: object

In [37]:
data1.isnull().any()

age                True
bp                 True
sg                 True
al                 True
su                 True
rbc               False
pc                False
pcc               False
ba                False
bgr                True
bu                 True
sc                 True
sod                True
pot                True
hemo               True
pcv               False
wc                False
rc                False
htn               False
dm                False
cad               False
appet             False
pe                False
ane               False
classification    False
dtype: bool

In [39]:
features = data1.iloc[:,:].values
features

array([[48.   , 80.   ,  1.02 , ...,  0.   ,  0.   ,  0.   ],
       [ 7.   , 50.   ,  1.02 , ...,  0.   ,  0.   ,  0.   ],
       [62.   , 80.   ,  1.01 , ...,  0.   ,  1.   ,  0.   ],
       ...,
       [12.   , 80.   ,  1.02 , ...,  0.   ,  0.   ,  1.   ],
       [17.   , 60.   ,  1.025, ...,  0.   ,  0.   ,  1.   ],
       [58.   , 80.   ,  1.025, ...,  0.   ,  0.   ,  1.   ]])

In [41]:
data1.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,0,0,121.0,...,44.0,7800.0,5.2,1,1,0,0,0,0,0
1,7.0,50.0,1.020,4.0,0.0,0,0,0,0,NaN,...,38.0,6000.0,5.2,0,0,0,0,0,0,0
2,62.0,80.0,1.010,2.0,3.0,0,0,0,0,423.0,...,31.0,7500.0,5.2,0,1,0,1,0,1,0
3,48.0,70.0,1.005,4.0,0.0,0,1,1,0,117.0,...,32.0,6700.0,3.9,1,0,0,1,1,1,0
4,51.0,80.0,1.010,2.0,0.0,0,0,0,0,106.0,...,35.0,7300.0,4.6,0,0,0,0,0,0,0

In [49]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
data1['pc']=l.fit_transform(data1['pc'])
data1

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,0,0,121.0,...,44.0,7800.0,5.2,1,1,0,0,0,0,0
1,7.0,50.0,1.020,4.0,0.0,0,0,0,0,NaN,...,38.0,6000.0,5.2,0,0,0,0,0,0,0
2,62.0,80.0,1.010,2.0,3.0,0,0,0,0,423.0,...,31.0,7500.0,5.2,0,1,0,1,0,1,0
3,48.0,70.0,1.005,4.0,0.0,0,1,1,0,117.0,...,32.0,6700.0,3.9,1,0,0,1,1,1,0
4,51.0,80.0,1.010,2.0,0.0,0,0,0,0,106.0,...,35.0,7300.0,4.6,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,0,0,0,0,140.0,...,47.0,6700.0,4.9,0,0,0,0,0,0,1
396,42.0,70.0,1.025,0.0,0.0,0,0,0,0,75.0,...,54.0,7800.0,6.2,0,0,0,0,0,0,1
397,12.0,80.0,1.020,0.0,0.0,0,0,0,0,100.0,...,49.0,6600.0,5.4,0,0,0,0,0,0,1
398,17.0,60.0,1.025,0.0,0.0,0,0,0,0,114.0,...,51.0,7200.0,5.9,0,0,0,0,0,0,1
399,58.0,80.0,1.025,0.0,0.0,0,0,0,0,131.0,...,53.0,6800.0,6.1,0,0,0,0,0,0,1

In [50]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
data1['pc']=l.fit_transform(data1['pc'])
data1

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,0,0,121.0,...,44.0,7800.0,5.2,1,1,0,0,0,0,0
1,7.0,50.0,1.020,4.0,0.0,0,0,0,0,NaN,...,38.0,6000.0,5.2,0,0,0,0,0,0,0
2,62.0,80.0,1.010,2.0,3.0,0,0,0,0,423.0,...,31.0,7500.0,5.2,0,1,0,1,0,1,0
3,48.0,70.0,1.005,4.0,0.0,0,1,1,0,117.0,...,32.0,6700.0,3.9,1,0,0,1,1,1,0
4,51.0,80.0,1.010,2.0,0.0,0,0,0,0,106.0,...,35.0,7300.0,4.6,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,0,0,0,0,140.0,...,47.0,6700.0,4.9,0,0,0,0,0,0,1
396,42.0,70.0,1.025,0.0,0.0,0,0,0,0,75.0,...,54.0,7800.0,6.2,0,0,0,0,0,0,1
397,12.0,80.0,1.020,0.0,0.0,0,0,0,0,100.0,...,49.0,6600.0,5.4,0,0,0,0,0,0,1
398,17.0,60.0,1.025,0.0,0.0,0,0,0,0,114.0,...,51.0,7200.0,5.9,0,0,0,0,0,0,1
399,58.0,80.0,1.025,0.0,0.0,0,0,0,0,131.0,...,53.0,6800.0,6.1,0,0,0,0,0,0,1

In [51]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
data1['dm']=l.fit_transform(data1['dm'])
data1

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,0,0,121.0,...,44.0,7800.0,5.2,1,1,0,0,0,0,0
1,7.0,50.0,1.020,4.0,0.0,0,0,0,0,NaN,...,38.0,6000.0,5.2,0,0,0,0,0,0,0
2,62.0,80.0,1.010,2.0,3.0,0,0,0,0,423.0,...,31.0,7500.0,5.2,0,1,0,1,0,1,0
3,48.0,70.0,1.005,4.0,0.0,0,1,1,0,117.0,...,32.0,6700.0,3.9,1,0,0,1,1,1,0
4,51.0,80.0,1.010,2.0,0.0,0,0,0,0,106.0,...,35.0,7300.0,4.6,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,0,0,0,0,140.0,...,47.0,6700.0,4.9,0,0,0,0,0,0,1
396,42.0,70.0,1.025,0.0,0.0,0,0,0,0,75.0,...,54.0,7800.0,6.2,0,0,0,0,0,0,1
397,12.0,80.0,1.020,0.0,0.0,0,0,0,0,100.0,...,49.0,6600.0,5.4,0,0,0,0,0,0,1
398,17.0,60.0,1.025,0.0,0.0,0,0,0,0,114.0,...,51.0,7200.0,5.9,0,0,0,0,0,0,1
399,58.0,80.0,1.025,0.0,0.0,0,0,0,0,131.0,...,53.0,6800.0,6.1,0,0,0,0,0,0,1

In [52]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
data1['appet']=l.fit_transform(data1['appet'])
data1

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,0,0,121.0,...,44.0,7800.0,5.2,1,1,0,0,0,0,0
1,7.0,50.0,1.020,4.0,0.0,0,0,0,0,NaN,...,38.0,6000.0,5.2,0,0,0,0,0,0,0
2,62.0,80.0,1.010,2.0,3.0,0,0,0,0,423.0,...,31.0,7500.0,5.2,0,1,0,1,0,1,0
3,48.0,70.0,1.005,4.0,0.0,0,1,1,0,117.0,...,32.0,6700.0,3.9,1,0,0,1,1,1,0
4,51.0,80.0,1.010,2.0,0.0,0,0,0,0,106.0,...,35.0,7300.0,4.6,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,0,0,0,0,140.0,...,47.0,6700.0,4.9,0,0,0,0,0,0,1
396,42.0,70.0,1.025,0.0,0.0,0,0,0,0,75.0,...,54.0,7800.0,6.2,0,0,0,0,0,0,1
397,12.0,80.0,1.020,0.0,0.0,0,0,0,0,100.0,...,49.0,6600.0,5.4,0,0,0,0,0,0,1
398,17.0,60.0,1.025,0.0,0.0,0,0,0,0,114.0,...,51.0,7200.0,5.9,0,0,0,0,0,0,1
399,58.0,80.0,1.025,0.0,0.0,0,0,0,0,131.0,...,53.0,6800.0,6.1,0,0,0,0,0,0,1

In [53]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
data1['ane']=l.fit_transform(data1['ane'])
data1

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,0,0,121.0,...,44.0,7800.0,5.2,1,1,0,0,0,0,0
1,7.0,50.0,1.020,4.0,0.0,0,0,0,0,NaN,...,38.0,6000.0,5.2,0,0,0,0,0,0,0
2,62.0,80.0,1.010,2.0,3.0,0,0,0,0,423.0,...,31.0,7500.0,5.2,0,1,0,1,0,1,0
3,48.0,70.0,1.005,4.0,0.0,0,1,1,0,117.0,...,32.0,6700.0,3.9,1,0,0,1,1,1,0
4,51.0,80.0,1.010,2.0,0.0,0,0,0,0,106.0,...,35.0,7300.0,4.6,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,0,0,0,0,140.0,...,47.0,6700.0,4.9,0,0,0,0,0,0,1
396,42.0,70.0,1.025,0.0,0.0,0,0,0,0,75.0,...,54.0,7800.0,6.2,0,0,0,0,0,0,1
397,12.0,80.0,1.020,0.0,0.0,0,0,0,0,100.0,...,49.0,6600.0,5.4,0,0,0,0,0,0,1
398,17.0,60.0,1.025,0.0,0.0,0,0,0,0,114.0,...,51.0,7200.0,5.9,0,0,0,0,0,0,1
399,58.0,80.0,1.025,0.0,0.0,0,0,0,0,131.0,...,53.0,6800.0,6.1,0,0,0,0,0,0,1

In [54]:
from sklearn.preprocessing import LabelEncoder
l=LabelEncoder()
data1['classification']=l.fit_transform(data1['classification'])
data1

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,0,0,0,0,121.0,...,44.0,7800.0,5.2,1,1,0,0,0,0,0
1,7.0,50.0,1.020,4.0,0.0,0,0,0,0,NaN,...,38.0,6000.0,5.2,0,0,0,0,0,0,0
2,62.0,80.0,1.010,2.0,3.0,0,0,0,0,423.0,...,31.0,7500.0,5.2,0,1,0,1,0,1,0
3,48.0,70.0,1.005,4.0,0.0,0,1,1,0,117.0,...,32.0,6700.0,3.9,1,0,0,1,1,1,0
4,51.0,80.0,1.010,2.0,0.0,0,0,0,0,106.0,...,35.0,7300.0,4.6,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,0,0,0,0,140.0,...,47.0,6700.0,4.9,0,0,0,0,0,0,1
396,42.0,70.0,1.025,0.0,0.0,0,0,0,0,75.0,...,54.0,7800.0,6.2,0,0,0,0,0,0,1
397,12.0,80.0,1.020,0.0,0.0,0,0,0,0,100.0,...,49.0,6600.0,5.4,0,0,0,0,0,0,1
398,17.0,60.0,1.025,0.0,0.0,0,0,0,0,114.0,...,51.0,7200.0,5.9,0,0,0,0,0,0,1
399,58.0,80.0,1.025,0.0,0.0,0,0,0,0,131.0,...,53.0,6800.0,6.1,0,0,0,0,0,0,1

In [55]:
data1.isnull().any()

age                True
bp                 True
sg                 True
al                 True
su                 True
rbc               False
pc                False
pcc               False
ba                False
bgr                True
bu                 True
sc                 True
sod                True
pot                True
hemo               True
pcv               False
wc                False
rc                False
htn               False
dm                False
cad               False
appet             False
pe                False
ane               False
classification    False
dtype: bool

In [56]:
from sklearn.impute import SimpleImputer 
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

In [57]:
imputer.fit(features[:,[0,1,2,3,4,9,10,11,12,13,14,15]])
features[:,[0,1,2,3,4,9,10,11,12,13,14,15]]=imputer.fit_transform(features[:,[0,1,2,3,4,9,10,11,12,13,14,15]])

In [58]:
new_data=pd.DataFrame(features)
new_data.isnull().any()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
dtype: bool